Repository spyoungtech/ahk: changes, and which pre-commit hooks are due for each by the changed paths.
All: unasync-rewrite, set-constants

.pre-commit-config.yaml:

repos:

- repo: local
  hooks:
  - id: unasync-rewrite
    name: unasync-rewrite
    entry: python .unasync-rewrite.py
    language: python
    types: [python]
    files: ^(ahk/_async/.*\.py|\.unasync-rewrite\.py|tests/_async/.*\.py)
    pass_filenames: false
    additional_dependencies:
        - unasync
        - tokenize_rt
        - black
  - id: set-constants
    name: set-constants
    entry: python _set_constants.py
    language: python
    types: [python]
    pass_filenames: false
    files: ^(ahk/daemon\.ahk|ahk/_constants\.py)

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: mixed-line-ending
        args: ["-f", "lf"]
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: double-quote-string-fixer
-   repo: https://github.com/psf/black
    rev: '22.10.0'
    hooks:
    -   id: black
        args:
            - "-S"
            - "-l"
            - "120"
        exclude: ^(ahk/_sync/.*\.py)
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v3.9.0
    hooks:
    -   id: reorder-python-imports

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.991'
    hooks:
    -   id: mypy
        args:
            - "--strict"
        exclude: ^(tests/.*|setup\.py|\.build\.py|\.unasync-rewrite\.py|_tests_setup\.py|buildunasync\.py)
        additional_dependencies:
          - jinja2

-   repo: https://github.com/pycqa/flake8
    rev: '6.0.0'  # pick a git hash / tag to point to
    hooks:
    -   id: flake8
        args:
          - "--ignore"
          - "E501,E704,E301,W503"
        files: ahk\/(?!_sync).*

add test script
  tests/_sync/test_scripts.py
Due: none

support coord mode for mouse position
  ahk/_async/engine.py
  ahk/_constants.py
  ahk/_sync/engine.py
  ahk/daemon.ahk
Due: unasync-rewrite, set-constants

fix tests
  tests/_async/test_scripts.py
  tests/_sync/test_scripts.py
Due: unasync-rewrite

templating, directives
  _set_constants.py
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_constants.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  ahk/daemon.ahk
  ahk/directives.py
  tests/_async/test_screen.py
  tests/_sync/test_screen.py
Due: unasync-rewrite, set-constants

implement `type`
  ahk/_async/engine.py
  ahk/_hotkey.py
  ahk/_sync/engine.py
  ahk/_utils.py
  tests/_async/test_window.py
  tests/_sync/test_window.py
Due: unasync-rewrite

better templating with fallback
  MANIFEST.in
  _set_constants.py
  ahk/_async/transport.py
  ahk/_constants.py
  ahk/_hotkey.py
  ahk/_sync/transport.py
  ahk/templates/daemon.ahk
  ahk/templates/hotkeys.ahk
  setup.cfg
Due: unasync-rewrite, set-constants

add get volume
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_constants.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  ahk/templates/daemon.ahk
Due: unasync-rewrite, set-constants

add sound methods
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_constants.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  ahk/templates/daemon.ahk
Due: unasync-rewrite, set-constants

add traytip
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_constants.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  ahk/templates/daemon.ahk
Due: unasync-rewrite, set-constants

format response byref
  ahk/_constants.py
  ahk/templates/daemon.ahk
Due: set-constants

add clipboard functions
  MANIFEST.in
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_constants.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  ahk/message.py
  ahk/templates/daemon.ahk
  setup.cfg
  tests/_async/test_clipboard.py
  tests/_sync/test_clipboard.py
Due: unasync-rewrite, set-constants

run_script
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_constants.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  ahk/templates/daemon.ahk
  buildunasync.py
  tests/_async/test_hotkeys.py
  tests/_async/test_screen.py
  tests/_async/test_scripts.py
  tests/_async/test_window.py
  tests/_sync/test_hotkeys.py
  tests/_sync/test_screen.py
  tests/_sync/test_scripts.py
  tests/_sync/test_window.py
Due: unasync-rewrite, set-constants

block_input ; try to make tests reliable
  .pre-commit-config.yaml
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_constants.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  ahk/templates/daemon.ahk
  tests/_async/test_hotkeys.py
  tests/_async/test_scripts.py
  tests/_sync/test_hotkeys.py
  tests/_sync/test_scripts.py
Due: unasync-rewrite, set-constants

move wait to right place
  tests/_async/test_scripts.py
  tests/_sync/test_scripts.py
Due: unasync-rewrite

on_clipboard_change
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_constants.py
  ahk/_hotkey.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  ahk/templates/hotkeys.ahk
  tests/_async/test_clipboard.py
  tests/_async/test_keys.py
  tests/_async/test_scripts.py
  tests/_sync/test_clipboard.py
  tests/_sync/test_keys.py
  tests/_sync/test_scripts.py
Due: unasync-rewrite, set-constants

fix typo
  tests/_async/test_scripts.py
  tests/_sync/test_scripts.py
Due: unasync-rewrite

try to make tests more reliable
  tests/_async/test_scripts.py
  tests/_sync/test_scripts.py
Due: unasync-rewrite

make API more consistent
  ahk/_async/engine.py
  ahk/_sync/engine.py
Due: unasync-rewrite

implement tooltip
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_constants.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  ahk/templates/daemon.ahk
Due: unasync-rewrite, set-constants

implement clip_wait
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_constants.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  ahk/templates/daemon.ahk
Due: unasync-rewrite, set-constants

add reg read/write/delete
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_constants.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  ahk/templates/daemon.ahk
  tests/_async/test_registry.py
  tests/_sync/test_registry.py
Due: unasync-rewrite, set-constants

add missing overloads
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
Due: unasync-rewrite

implement win_wait_close
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_constants.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  ahk/templates/daemon.ahk
Due: unasync-rewrite, set-constants

update docstrings
  ahk/_async/engine.py
  ahk/_sync/engine.py
Due: unasync-rewrite

make resolve_button non-public
  ahk/_async/engine.py
  ahk/_sync/engine.py
Due: unasync-rewrite

add docs
  docs/Makefile
  docs/README.md
  docs/api/async.rst
  docs/api/index.rst
  docs/api/methods.md
  docs/api/sync.rst
  docs/conf.py
  docs/docrequirements.txt
  docs/index.rst
  docs/make.bat
  docs/quickstart.rst
Due: none

add readthedocs config (boo hiss)
  docs/.readthedocs.yaml
Due: none

unpin requirements
  docs/docrequirements.txt
Due: none

use sphinx 6
  docs/docrequirements.txt
Due: none

docs
  docs/api/async.rst
Due: none

tidy index
  docs/api/index.rst
Due: none

add deprecation doc
  ahk/_async/engine.py
  ahk/_sync/engine.py
Due: unasync-rewrite

docs
  docs/api/async.rst
  docs/api/sync.rst
  docs/conf.py
Due: none

add release workflow
  .github/workflows/release.yaml
  ahk/_sync/engine.py
  setup.cfg
Due: none

le
  ahk/_sync/engine.py
Due: none

1.0.0 :package:
  setup.cfg
Due: none

add run_script examples
  docs/README.md
Due: none

fix anchor in readme
  docs/README.md
Due: none

fix build badge
  docs/README.md
Due: none

post fixes
  docs/README.md
  setup.cfg
Due: none
